MasterSimAddition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.telenor.pk/eil/common_service/types/common_types/v1" xmlns:tns="http://xmlns.example.com/1486473755676" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/MasterSimAddition/SharedResources/SchemaDefinitions/MasterSimAddition/MasterSimAdditionSchema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1486473755676">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MasterSimAddition/SharedResources/SchemaDefinitions/MasterSimAddition/MasterSimAdditionSchema.xsd" xmlns:ns0="http://www.telenor.pk/eil/common_service/types/common_types/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/MasterSimAddition/SharedResources/SchemaDefinitions/MasterSimAddition/MasterSimAdditionSchema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.telenor.pk/eil/common_service/types/common_types/v1"/>
            <xs:element name="ID" type="xs:string"/>
            <xs:element name="MasterSimInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:RequestHeader" minOccurs="0"/>
                        <xs:element ref="RequestBody" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MasterSimOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:ResultHeader" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Msisdn" type="xs:string"/>
            <xs:element name="RequestBody">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Msisdn"/>
                        <xs:element ref="ID"/>
                        <xs:element ref="Value" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Value" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.telenor.pk/eil/common_service/types/common_types/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.telenor.pk/eil/common_service/types/common_types/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ExternalErrorType">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RequestHeaderType">
                <xs:sequence>
                    <xs:element name="RequestID" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Unique message id for each message</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Timestamp" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Timestamp the message is created</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SourceSystem" type="xs:string" minOccurs="0"/>
                    <xs:element name="CorrelationID" type="xs:string" minOccurs="0"/>
                    <xs:element ref="ns1:Security" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultHeaderType">
                <xs:sequence>
                    <xs:element name="RequestID" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Unique message id for each message</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Timestamp" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Timestamp the message is created</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CorrelationID" type="xs:string" minOccurs="0"/>
                    <xs:element name="ResultCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="ResultMsg" type="xs:string" minOccurs="0"/>
                    <xs:element name="ErrorType" type="xs:string" minOccurs="0"/>
                    <xs:element ref="ns1:ExternalError" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SecurityType">
                <xs:sequence>
                    <xs:element name="user" type="xs:string" minOccurs="0"/>
                    <xs:element name="password" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ExternalError" type="ns1:ExternalErrorType"/>
            <xs:element name="RequestHeader" type="ns1:RequestHeaderType"/>
            <xs:element name="ResultHeader" type="ns1:ResultHeaderType"/>
            <xs:element name="Security" type="ns1:SecurityType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="MasterSimAdditionService">
        <wsdl:port name="MasterSimAdditionPortTypeEndpoint1" binding="tns:MasterSimAdditionPortTypeEndpoint1Binding">
            <soap:address location="http://10.1.4.42:9169/Services/Interface/WebServices/MasterSimAdditionService.serviceagent/MasterSimAdditionPortTypeEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="MasterSimAdditionPortType">
        <wsdl:operation name="MasterSimAdditionOperation">
            <wsdl:input message="tns:MasterSimAdditionRequestMessage"/>
            <wsdl:output message="tns:MasterSimAdditionResponseMessage"/>
            <wsdl:fault name="fault1" message="tns:MasterSimAdditionResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MasterSimAdditionPortTypeEndpoint1Binding" type="tns:MasterSimAdditionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MasterSimAdditionOperation">
            <soap:operation style="document" soapAction="/Services/Interface/WebServices/MasterSimAdditionService.serviceagent/MasterSimAdditionPortTypeEndpoint1/MasterSimAdditionOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="Request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Response"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="MasterSimAdditionRequestMessage">
        <wsdl:part name="Request" element="ns0:MasterSimInput"/>
    </wsdl:message>
    <wsdl:message name="MasterSimAdditionResponseMessage">
        <wsdl:part name="Response" element="ns0:MasterSimOutput"/>
    </wsdl:message>
</wsdl:definitions>